#title {
    display: flex;
    font-size: 3rem;
    display: inline-block;
    position: relative;
}

body {
    background-color:rgb(46, 44, 44);
    color:ghostwhite;
}

.row {
    display: flex;
    color:ghostwhite;
}

.logo {
    height: 150px;
    width: 150px;
    background-color: dimgrey;
    

}

